.main-banner-content .blocos {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 48px;
}
.main-banner-content .blocos .bloco1 {
  max-width: 720px;
}
.main-banner-content .blocos .bloco1 h1 {
  margin: auto;
  display: block;
  color: var(--cor-quinta);
}
.main-banner-content .blocos .bloco1 h3 {
  text-transform: uppercase;
  color: var(--cor-sexta);
}
.main-banner-content .blocos .bloco1 p {
  max-width: 520px;
}
.main-banner-content .blocos .bloco1 ul {
  display: flex;
  list-style: none;
  gap: 24px;
  align-content: center;
  justify-content: start;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.main-banner-content .blocos .bloco2 object {
  max-width: 350px;
  width: 100%;
  height: auto;
  background-color: var(--cor-quarta);
  margin-left: 10%;
  margin-right: 10%;
  filter: var(--filtro-objeto);
  margin: 16px auto;
}
#cartaSemana {
  background-color: var(--cor-quarta);
}
#cartaSemana h1 {
  padding-top: 48px;
  color: var(--cor-quinta);
}
#cartaSemana .carta-da-semana {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0 24px;
  color: var(--cor-quinta);
}
#cartaSemana .carta-da-semana img {
  max-width: 210px;
  width: 100%;
  margin: 24px;
  filter: var(--filtro-objeto);
  opacity: 0.9;
  box-shadow: 4px 24px 24px -16px var(--sombra-leve);
  animation: translado both infinite 6s;
}
#cartaSemana .carta-da-semana .texto-carta {
  max-width: 680px;
  padding: 0 24px;
}

@keyframes translado {
  0% {
    transform: translateX(4px);
    transform: rotate(-2deg);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18% {
    transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);
  }

  50% {
    transform: translateY(-4px);

    transform: rotate(1deg);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(4px);
    transform: rotate(-1deg);
  }
}

@media (max-width: 768px) {
  #cartaSemana h1 {
    font-size: 2.25rem;
  }
  #cartaSemana .carta-da-semana img {
    max-width: 160px;
  }
}
