.main-banner-content .blocos {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 48px;
}
.main-banner-content .blocos .bloco1 {
  max-width: 720px;
}
.main-banner-content .blocos .bloco1 h1 {
  margin: auto;
  display: block;
  color: var(--cor-quinta);
}
.main-banner-content .blocos .bloco1 h3 {
  text-transform: uppercase;
  color: var(--cor-sexta);
}
.main-banner-content .blocos .bloco1 p {
  max-width: 520px;
}
.main-banner-content .blocos .bloco1 ul {
  display: flex;
  list-style: none;
  gap: 24px;
  align-content: center;
  justify-content: start;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.main-banner-content .blocos .bloco2 object {
  max-width: 350px;
  width: 100%;
  height: auto;
  background-color: var(--cor-quarta);
  margin-left: 10%;
  margin-right: 10%;
  filter: var(--filtro-objeto);
  margin: 16px auto;
}
#cartaSemana {
  background-color: var(--cor-quarta);
  min-height: 400px;
}
#cartaSemana h1 {
  padding-top: 48px;
  color: var(--cor-quinta);
}
#cartaSemana .carta-da-semana {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0 24px;

  padding-bottom: 48px;
  color: var(--cor-quinta);
}
#cartaSemana .carta-da-semana #cartaDaSemana {
  max-width: 210px;
  width: 100%;
  margin: 24px;

  box-shadow: 0px 24px 24px -16px var(--sombra-carta);
  animation: translado both infinite 6s;
}
#cartaSemana .carta-da-semana .texto-carta {
  max-width: 680px;
  padding: 0 24px;
}
#cartaSemana .carta-da-semana .texto-carta img {
  animation: translado both infinite 6s;
  max-width: 200px;
}

#latest-blog {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#latest-blog .container-principal {
  padding: 48px 16px;
}
#latest-blog .container-principal h1 {
  color: var(--cor-quinta);
  margin-bottom: 24px;
}
#latest-blog .container-principal .posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  color: var(--cor-quinta);
}
#latest-blog .container-principal .post {
  background-color: var(--cor-quarta);
  box-shadow: 4px 24px 24px -16px var(--sombra-leve);
  border-radius: 8px;
  padding: 24px;
  font-size: 0.92rem;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#latest-blog .container-principal .post h3 {
  margin: auto;
}

#latest-blog .container-principal .thumb-noticia img {
  max-width: 100%;
  max-height: 150px;
  object-fit: fill;
  border-radius: 8px;
  width: auto;
}
#latest-blog .container-principal .post a {
  color: var(--cor-primaria);
  padding: 6px 12px;
  border-radius: 10px;
  text-decoration: none;
  background-color: var(--cor-sete);
}
#tema[data-tema="dark"] #latest-blog .container-principal .post a {
  background-color: var(--cor-quinta);
  color: var(--cor-primaria);
}
#tema[data-tema="dark"] #latest-blog .container-principal .post a:hover {
  background-color: var(--cor-sexta);
  color: var(--cor-primaria);
}
#latest-blog .container-principal .post p {
  text-align: center;
  color: var(--contraste);
}

#latest-blog .container-principal .post a:hover {
  background-color: var(--cor-secundaria);
  color: var(--cor-quinta);
}
#latest-blog .container-principal .btn-ver-todos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  background-color: var(--cor-quinta);
  color: var(--cor-secundaria);
  display: inline-block;
  padding: 6px 12px;
  border-radius: 10px;
  box-shadow: 0 6px 6px var(--sombra-leve);
}
#latest-blog .container-principal .btn-ver-todos:hover {
  background-color: var(--cor-primaria);
  color: var(--cor-quinta);
}
.main-slide-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
  padding: 16px;
  align-items: center;
}

.bloco {
  flex: 1;
  max-width: 680px;
}

.main-slide-content {
  color: var(--cor-quinta);
}

.bloco img {
  max-width: 280px;
  max-height: 420px;
  height: auto;
  width: 100%;
}

.main-slide-content .bloco h1 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

.bloco.img-fluid {
  max-width: 280px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

#root .slider {
  text-align: left;
}
#root .slider .slide {
  background-image: linear-gradient(
    -135deg,
    var(--cor-secundaria) 25%,
    var(--cor-primaria) 25%,
    var(--cor-primaria) 50%,
    var(--cor-secundaria) 50%,
    var(--cor-secundaria) 75%,
    var(--cor-primaria) 75%,
    var(--cor-primaria) 100%,
    var(--cor-secundaria) 100%
  );
  background-size: 3px 3px;
}
#root .slider .slide .slide {
  max-width: 90vw;
}
#root .carta-da-semana {
  background-image: url("../../imgs/bg-2.png");
}

.has-text-align-center {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main-slide-content {
    gap: 16px;
  }
  #latest-blog .container-principal .post {
    max-width: 100%;
  }
  #cartaSemana .carta-da-semana #cartaDaSemana {
    margin-bottom: 16px;
  }
  #cartaSemana .carta-da-semana .texto-carta {
    padding: 0 10px;
    font-size: clamp(0.9rem, 1.5vw, 1rem);
  }
  #cartaSemana h1 {
    padding-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .main-slide-content .bloco h1 {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  }

  .main-slide-content .bloco img {
    max-width: 200px;
  }

  .slider {
    height: 100vh;
  }

  .main-slide-content {
    gap: 16px;
    flex-direction: column-reverse;
  }
  #cartaSemana h1 {
    font-size: 2.25rem;
  }

  #cartaSemana .carta-da-semana img {
    max-width: 160px;
  }
}

@keyframes translado {
  0% {
    transform: translateX(4px);
    transform: rotate(-2deg);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18% {
    transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);
  }

  50% {
    transform: translateY(-4px);

    transform: rotate(1deg);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(4px);
    transform: rotate(-1deg);
  }
}
