.menu-topo {
  background-color: var(--cor-primaria);
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid var(--cor-secundaria);
  border-top: 1px solid var(--cor-secundaria);
  box-shadow: 0 1px 0 var(--preto);
}
.wrapper-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  padding: 0.25em;
  gap: 24px;
}
.menu-topo .wrapper-menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 1em;
}
.menu-topo .wrapper-menu ul li {
  list-style: none;
}
.menu-topo .wrapper-menu ul li a {
  color: var(--cor-sexta);
  padding: 6px 15px;
}
.menu-topo .wrapper-menu ul li a:visited {
  color: var(--cor-sexta);
}
.menu-topo .wrapper-menu ul li:hover a {
  background-color: var(--cor-secundaria);

  border-radius: 8px;
  color: var(--cor-quinta);
  box-shadow: 0 4px 12px -4px var(--cor-sexta);
  border-bottom: 1px solid var(--cor-quinta);
}
.logo-renata {
  max-width: 320px;
  margin: auto;
  margin: 16px auto;
  width: min-content;
  min-width: 210px;
}
.logo-renata img {
  height: auto;
  width: 100%;
  margin: auto;
}
.divisor-menu {
  height: 16px;
  background-color: var(--cor-secundaria);
  width: 1px;
  margin: auto;
  text-align: center;
}

#tema[data-tema="light"] .logo-renata {
  filter: invert(40%) sepia(50%) saturate(2000%) hue-rotate(215deg)
    brightness(65%) contrast(180%);
}
#menu-toggle {
  display: none;
}

@media screen and (max-width: 649px) {
  #menu-toggle {
    display: block;
    z-index: 999;
    position: fixed;
    top: 28px;
    border-radius: 8px;
    right: 18px;
    cursor: pointer;
    background-color: var(--cor-terciaria);
    box-shadow: 0 4px 12px -4px var(--cor-sexta);
    padding: 0.25rem 0.5rem;
  }
  .menu-topo .wrapper-menu ul {
    display: none;
  }
  .menu-topo .wrapper-menu.active ul {
    display: flex;
    position: fixed;
    top: 24px;
    right: 24px;
    border-radius: 12px;
    background-color: var(--cor-quinta);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 135px;
    padding: 1rem;
    z-index: 998;
  }
  .menu-topo .wrapper-menu ul li {
    margin: 0.5em 0;
  }
  .menu-topo .wrapper-menu ul li a {
    padding: 6px 15px;
    color: var(--cor-primaria);
  }
  .menu-topo .wrapper-menu ul li a:visited {
    color: var(--cor-primaria);
  }
  .menu-topo .wrapper-menu ul li:hover a:visited {
    color: var(--cor-sexta);
  }
  .logo-renata {
    max-width: 320px;
    margin: auto auto 16px;
    min-width: 200px;
  }
  .logo-renata img {
    height: auto;
    width: 100%;
  }
  .divisor-menu {
    display: none;
  }
}
@media screen and (max-width: 340px) {
  #menu-toggle {
    top: 72px;
  }
  .wrapper-menu {
    padding: 0;
    gap: 0;
  }
}
