.menu-topo {
  background-color: var(--cor-primaria);
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid var(--cor-secundaria);
  border-top: 1px solid var(--cor-secundaria);
  box-shadow: 0 1px 0 var(--preto);
}
.menu-topo ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}
.menu-topo ul li {
  list-style: none;
}
.menu-topo ul li a {
  color: var(--cor-sexta);
  padding: 6px 15px;
}
.menu-topo ul li a:visited {
  color: var(--cor-sexta);
}
.menu-topo ul li:hover a {
  background-color: var(--cor-secundaria);

  border-radius: 8px;
  color: var(--cor-quinta);
  box-shadow: 0 4px 12px -4px var(--cor-sexta);
  border-bottom: 1px solid var(--cor-quinta);
}
.logo-renata {
  max-width: 320px;
  margin: auto;
  min-width: 200px;
}
.logo-renata img {
  height: auto;
  width: 100%;
}
.divisor-menu {
  height: 16px;
  background-color: var(--cor-secundaria);
  width: 1px;
  margin: auto;
  text-align: center;
}

#tema[data-tema="light"] .logo-renata {
  filter: invert(40%) sepia(50%) saturate(2000%) hue-rotate(215deg)
    brightness(65%) contrast(180%);
}
