#tema[data-tema="light"] {
  --cor-primaria: #fbf8ff;
  --cor-secundaria: #e7e0fd;
  --cor-terciaria: #2f58cd;
  --cor-quarta: #fff9f1;
  --cor-quinta: #8052c9;
  --cor-sexta: #7259c4;
  --cor-sete: #232672;
  --cor-oito: #8b6f9b;
  --background-color: #ececec;
  --contraste: #0f0f0f;
  --sombra-leve: #dadada80;
  --transparente-leve: #ffffff40;
  --filtro-objeto: invert(20%) sepia(22%) saturate(160%) hue-rotate(222deg)
    brightness(80%) contrast(180%);
  --opacidade: 1;
}
#tema[data-tema="dark"] {
  --cor-primaria: #3a1078;
  --cor-secundaria: #4e31aa;
  --cor-terciaria: #2f58cd;
  --cor-quarta: #392681;
  --cor-quinta: #f2eeff;
  --cor-sexta: #c1b2f1;
  --cor-sete: #30338f;
  --cor-oito: #c2eaf7;
  --contraste: #f0f0f0;
  --background-color: #1a033d;
  --transparente-leve: #00000040;
  --sombra-leve: #633c992d;
  --filtro-objeto: invert(10%) sepia(42%) saturate(210%) hue-rotate(222deg)
    brightness(90%) contrast(160%);
  --opacidade: 0.45;
}
.container-principal {
  max-width: 1266px;
  margin: auto;
  padding: 0 16px;
}
.content {
  background-image: url("../src/assets/imgs/bg-2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  min-height: 100dvh;
}

.theme-switch {
  position: relative;
  display: block;
  float: right;
  top: 6px;
  width: 30px;
  height: 14px;
}

.theme-switch input[type="checkbox"] {
  display: none;
}

.theme-switch .slider-theme-switch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: var(--cor-sexta);
  transition: background-color 0.3s ease-in-out;
}

.isLoading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 40%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.theme-switch .slider-theme-switch:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #fff;
  top: 1px;
  left: 2px;
  transition: transform 0.3s ease-in-out;
}

.theme-switch .slider-theme-switch .moon-icon,
.theme-switch .slider-theme-switch .sun-icon {
  position: absolute;
  top: -1px;
  transition: opacity 0.3s ease-in-out;
  font-size: 12pt;
}

.theme-switch .slider-theme-switch .moon-icon {
  left: 14px;
}

.theme-switch .slider-theme-switch .sun-icon {
  right: 14px;
  opacity: 0;
  color: #ffe48a;
}

.theme-switch input[type="checkbox"]:checked + .slider-theme-switch {
  background-color: #2196f3;
}

.theme-switch input[type="checkbox"]:checked + .slider-theme-switch:before {
  transform: translateX(15px);
}

.theme-switch input[type="checkbox"]:checked + .slider-theme-switch .moon-icon {
  opacity: 0;
}

.theme-switch input[type="checkbox"]:checked + .slider-theme-switch .sun-icon {
  opacity: 1;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 3000ms ease-in-out;
}
footer#footer {
  background-color: var(--cor-seis);
  color: var(--cor-quinta);
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: var(--opacidade);
}
